<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217682530430-ahc31nq2f2dure46os5b8d2m2oknkprd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217682530430-ahc31nq2f2dure46os5b8d2m2oknkprd</string>
	<key>API_KEY</key>
	<string>AIzaSyD04VNOjgy7olNvyJVUiUDBVCmnz7330jg</string>
	<key>GCM_SENDER_ID</key>
	<string>217682530430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.breakawaydesign.GoogleDriveTest</string>
	<key>PROJECT_ID</key>
	<string>level-footing-410701</string>
	<key>STORAGE_BUCKET</key>
	<string>level-footing-410701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217682530430:ios:db68472b92f368da74882f</string>
</dict>
</plist>